# REMINDER: all Packages must be here at the top, not in the individual code cells

### <center>**Appendix**</center>

In [61]:
### Python Packages used throughout the notebook: ###

import os
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.preprocessing import LabelEncoder #, StandardScaler
from sklearn.naive_bayes import MultinomialNB
from scipy import stats
from sklearn.cluster import KMeans

In [14]:
### Connection info for GitHub File ### 
url = 'https://github.com/TexasTori/502_group4/raw/47991b001ffd176ab156b992140cb9d3d3a51df1/Group_4_Data.csv'

data = pd.read_csv(url, encoding='latin-1')

### Set up to automate files print location for team ###
cwd = os.getcwd() 
log_prefix = os.path.join(cwd,'log_files')
print(log_prefix)

c:\Users\ToriT\502_group4\log_files

## DELETE cell below befor attaching to paper

In [10]:
### Example of how to print using os module: ###
# Define the file name
file_name = 'output.csv'

# Create the full file path
file_path = os.path.join(log_prefix, file_name)

# Creating a dictionary with fake data
df_data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [30, 25, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

# Creating the DataFrame
df_example = pd.DataFrame(df_data)

# Save the DataFrame to a CSV file
df_example.to_csv(file_path, index=False)

# Print the full file path
print("CSV file saved at:", file_path)

CSV file saved at: c:\Users\ToriT\502_group4\log_files\output.csv

In [35]:
### Inspect data ###
data.head()

,ID,ESA2008,ESA2009,ESA2010,ESA2011,ESA2012,ESA2013,ESA2014,ESA2015,ESA2016,...,Protagonist,MainPC,PCTYPE,CharacterPrespective,Narrative,DigitalGameMainGenre,DigitalGameSecondaryGenre,DigitalGameThirdGenre,DigitalGameGenreOTHER,MetaCritic Review Score
0,1,0,0,0,0,0,0,0,0,0,...,0,Slide,3,2,0,Action,,,,NaN
1,2,0,0,0,0,0,0,0,0,0,...,NamelessAdventurer,0,0,0,1,TextAdventure,,,,NaN
2,3,0,0,0,0,0,0,0,0,0,...,0,LaserCannon,0,2,0,Shooter,Arcade,,,NaN
3,4,0,0,0,0,0,0,0,0,0,...,Adventurer(Adventure),adventurer,3,3,1,ActionAdventure,,,,NaN
4,5,0,0,0,0,0,0,0,0,0,...,Kazuya,Multiple,3,7,1,Roguelike,,,,NaN

**Business Question:** How can we leverage a model to identify video games that are highly likely to receive critical acclaim, enabling us to allocate our marketing resources effectively and maximize the success of our titles?

### Exploratory Data Analysis (EDA)

In [17]:
### Checking for any NAN cells ###
data.isnull().sum()

ID                            0
ESA2008                       0
ESA2009                       0
ESA2010                       0
ESA2011                       0
ESA2012                       0
ESA2013                       0
ESA2014                       0
ESA2015                       0
ESA2016                       0
ESA2017                       0
ESA2018                       0
ESACount                      0
EuroGamer                     0
GamesRadar                    0
Guardien                      0
IGN                           0
MetaCritic                    0
Polygon                       0
TIME                          0
CriticCount                   0
TotalCitationsCount           0
DigitalGame                   0
Year                          0
YearInterval                  0
Series                        0
Mode                          0
SpatialDimensionality         0
Platformscount                1
Protagonist                   0
MainPC                        0
PCTYPE                        0
CharacterPrespective          0
Narrative                     0
DigitalGameMainGenre          0
DigitalGameSecondaryGenre     0
DigitalGameThirdGenre         0
DigitalGameGenreOTHER         0
MetaCritic Review Score      39
dtype: int64

In [38]:
data.dtypes

ID                             int64
ESA2008                        int64
ESA2009                        int64
ESA2010                        int64
ESA2011                        int64
ESA2012                        int64
ESA2013                        int64
ESA2014                        int64
ESA2015                        int64
ESA2016                        int64
ESA2017                        int64
ESA2018                        int64
ESACount                       int64
EuroGamer                      int64
GamesRadar                     int64
Guardien                       int64
IGN                            int64
MetaCritic                     int64
Polygon                        int64
TIME                           int64
CriticCount                    int64
TotalCitationsCount            int64
DigitalGame                   object
Year                           int64
YearInterval                  object
Series                        object
Mode                           int64
SpatialDimensionality         object
Platformscount               float64
Protagonist                   object
MainPC                        object
PCTYPE                         int64
CharacterPrespective           int64
Narrative                      int64
DigitalGameMainGenre          object
DigitalGameSecondaryGenre     object
DigitalGameThirdGenre         object
DigitalGameGenreOTHER         object
MetaCritic Review Score      float64
dtype: object

In [ ]:
### Drop rows that are missing MetaCritic Score ###

### Handle Missing record in Platformscount ###

### Turn Series column into a 0/1 if it contains a value <> 0 then 1 ###

### Convert Year into age? ###

In [58]:
### PATRICIO - by the end of your work we will have the data only to the following-ish columns 
# (we can remove more if you see something during EDA) ###

selected_columns = ['Year',  'Series', 'Mode', 
                    'SpatialDimensionality', 'PCTYPE', 
                    'CharacterPrespective', 'Narrative', 
                    'DigitalGameMainGenre', 'MetaCritic Review Score']

# Subset the DataFrame
subset_data = data[selected_columns]
subset_data = subset_data.sort_values(by='SpatialDimensionality', ascending=True)


# Display the subset DataFrame
subset_data.head(20)

,Year,Series,Mode,SpatialDimensionality,PCTYPE,CharacterPrespective,Narrative,DigitalGameMainGenre,MetaCritic Review Score
196,2009,EASPORTSACTIVE,3,1,0,5,0,Sports,80.0
72,1998,StarCraft,3,1,0,2,1,Strategy,88.0
75,1999,ChronoTrigger,1,1,3,3,1,RPG,94.0
153,2006,NEWSUPERMARIOBROS,1,1,3,4,1,Platform,89.0
169,2007,RockBand,3,1,0,5,0,Music,92.0
39,1993,Doom,3,1,3,1,1,FirstPersonShooter,82.0
37,1992,Wolfenstein,1,1,3,1,1,FirstPersonShooter,66.0
226,2010,JustDance,3,1,0,0,0,Music,56.0
243,2011,JustDance,3,1,0,0,0,Action,70.0
255,2011,Kinect,3,1,0,0,0,Dance,42.0
267,2012,JetGrindRadio,1,1,3,3,1,Action,94.0
269,2012,JustDance,3,1,0,0,0,Action,77.0
275,2012,NEWSUPERMARIOBROS,3,1,3,4,1,Platform,78.0
290,2013,JustDance,3,1,0,0,0,Action,79.0
64,1997,Ultima,2,1,2,3,0,MMORPG,59.0
295,2013,Pokemon,3,1,3,5,1,RPG,87.0
350,2016,Pokemon,3,1,1,5,1,RPG,87.0
351,2016,Pokemon,2,1,0,0,0,Pervasive,69.0
368,2017,Persona,1,1,3,3,1,RPG,93.0
369,2017,Persona,1,1,3,3,1,RPG,95.0

### Standardization and Normalization

In [ ]:
### Z-score section - for the K-Means

### Encoded section - linear Regression

In [60]:
#### TORI SECTION TO Standardize columns ###
categorical_columns = ['Mode', 'SpatialDimensionality', 'CharacterPrespective', 
                       'DigitalGameMainGenre']
data_encode = subset_data.copy()  # Create a copy of the original DataFrame

for column in categorical_columns:
    one_hot_encoded = pd.get_dummies(data_encode[column], prefix=column)
    data_encode = pd.concat([data_encode, one_hot_encoded], axis=1)

data_encode.drop(columns=categorical_columns, inplace=True)  # Drop original categorical columns

data_encode.head()

,Year,Series,PCTYPE,Narrative,MetaCritic Review Score,Mode_0,Mode_1,Mode_2,Mode_3,SpatialDimensionality_1,...,DigitalGameMainGenre_Racing,DigitalGameMainGenre_Roguelike,DigitalGameMainGenre_Shooter,DigitalGameMainGenre_Simulation,DigitalGameMainGenre_Sports,DigitalGameMainGenre_Stealth,DigitalGameMainGenre_Strategy,DigitalGameMainGenre_Survival,DigitalGameMainGenre_TextAdventure,DigitalGameMainGenre_ThirdPersonShooter
196,2009,EASPORTSACTIVE,0,0,80.0,False,False,False,True,True,...,False,False,False,False,True,False,False,False,False,False
72,1998,StarCraft,0,1,88.0,False,False,False,True,True,...,False,False,False,False,False,False,True,False,False,False
75,1999,ChronoTrigger,3,1,94.0,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
153,2006,NEWSUPERMARIOBROS,3,1,89.0,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
169,2007,RockBand,0,0,92.0,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False


**Z-score normalization (Standardization):** KMEANS
Suitable for algorithms that assume normally distributed data, such as linear regression, logistic regression, and neural networks.
It is robust to outliers and works well when the standard deviation of features is different.

1. Project Definition: Consider what specific metrics will define 'playability' or 'acclaim'—user ratings, hours played, critic scores, etc. Or is there a target variable that defines this for your? Your analysis will depend heavily on these definitions

Highly Playable variables: Mode (single player, multiplayer, MMO), Spatial Dimensionality (2-d, 3-d), Platform count, Character Perspective, Narrative, Digital Game Main Genre, Critic Scores

Reflect on how the different performance metrics will guide business decisions. For example, if your model has **high precision**, it could be particularly useful in identifying games that are certain to receive acclaim, guiding marketing efforts to focus resources on these titles.

Conversely, a model with high recall could prevent overlooking games that could become highly playable, informing strategies to ensure broad coverage in promotional activities.

2. Data Exploration: Conduct a thorough exploratory data analysis to understand the variables at your disposal. For games, variables can be interdependent in complex ways. Player reviews might correlate with playtime, and genre might influence critical acclaim.

Patricio - EDA <br>
Tori - Cleaning Normalizing/standarizing - to prep for models -   Logigstic Add KMEANS<br>
-mod 3/4 training and testing data split.<br>
-Feature selection<br> Lift?
the model with the highest precision - CART/C5.0 & NB

In [33]:
data.dtypes

ID                             int64
ESA2008                        int64
ESA2009                        int64
ESA2010                        int64
ESA2011                        int64
ESA2012                        int64
ESA2013                        int64
ESA2014                        int64
ESA2015                        int64
ESA2016                        int64
ESA2017                        int64
ESA2018                        int64
ESACount                       int64
EuroGamer                      int64
GamesRadar                     int64
Guardien                       int64
IGN                            int64
MetaCritic                     int64
Polygon                        int64
TIME                           int64
CriticCount                    int64
TotalCitationsCount            int64
DigitalGame                   object
Year                           int64
YearInterval                  object
Series                        object
Mode                           int64
SpatialDimensionality         object
Platformscount               float64
Protagonist                   object
MainPC                        object
PCTYPE                         int64
CharacterPrespective           int64
Narrative                      int64
DigitalGameMainGenre          object
DigitalGameSecondaryGenre     object
DigitalGameThirdGenre         object
DigitalGameGenreOTHER         object
MetaCritic Review Score      float64
dtype: object

In [37]:
### Formatting everything in Z-score ###  KMeans or SVM

numeric_data = data.select_dtypes(include='number')
column_names = numeric_data.columns.tolist()

df_zscore = pd.DataFrame(stats.zscore(numeric_data), columns=column_names)

### Print out ###
df_zscore.head()

,ID,ESA2008,ESA2009,ESA2010,ESA2011,ESA2012,ESA2013,ESA2014,ESA2015,ESA2016,...,TIME,CriticCount,TotalCitationsCount,Year,Mode,Platformscount,PCTYPE,CharacterPrespective,Narrative,MetaCritic Review Score
0,-1.727649,-0.212633,-0.20601,-0.225393,-0.231558,-0.231558,-0.231558,-0.231558,-0.231558,-0.237595,...,2.619160,0.608966,0.176103,-3.640582,-0.242257,NaN,0.300371,-0.383716,-1.490406,NaN
1,-1.718835,-0.212633,-0.20601,-0.225393,-0.231558,-0.231558,-0.231558,-0.231558,-0.231558,-0.237595,...,2.619160,0.608966,0.176103,-3.108428,-1.265986,NaN,-1.899241,-1.884219,0.670958,NaN
2,-1.710020,-0.212633,-0.20601,-0.225393,-0.231558,-0.231558,-0.231558,-0.231558,-0.231558,-0.237595,...,2.619160,0.608966,0.176103,-3.001997,0.781473,NaN,-1.899241,-0.383716,-1.490406,NaN
3,-1.701206,-0.212633,-0.20601,-0.225393,-0.231558,-0.231558,-0.231558,-0.231558,-0.231558,-0.237595,...,-0.381802,-0.175702,-0.576163,-2.895567,-1.265986,NaN,0.300371,0.366535,0.670958,NaN
4,-1.692391,-0.212633,-0.20601,-0.225393,-0.231558,-0.231558,-0.231558,-0.231558,-0.231558,-0.237595,...,-0.381802,-0.175702,-0.576163,-2.789136,-1.265986,NaN,0.300371,3.367541,0.670958,NaN

3. Modeling Pathway: Given the binary nature of your classification problem, you might start with logistic regression to establish a baseline. As you progress, explore tree-based models or random forest or even neural networks that could capture more subtle patterns within your data. 4. Model Evaluation: Alongside standard classification metrics such as accuracy, precision, recall, consider the specific nature of your project's objectives.

# Predict how many awards based off the features

## Do we need a training and a test data set?  --YES

In [ ]:
# SPLITTING EXAMPLE FROM MODULE 3
# Python Answer

churn = pd.read_csv(r'/Users/bobbymarriott/Desktop/Data Mining Class/churn.csv')

# creating the train and test sets.  33% for the test.
churn_train, churn_test = train_test_split(churn, test_size =
0.33, random_state = 7)

churn.shape
churn_train.shape
churn_test.shape

# Calculate proportions
train_proportion = len(churn_train) / len(churn)
test_proportion = len(churn_test) / len(churn)

# Create a bar graph to confirm proportions
proportions = [train_proportion, test_proportion]
labels = ['Training', 'Test']

plt.bar(labels, proportions, color=['blue', 'orange'])
plt.xlabel('Dataset')
plt.ylabel('Proportion')
plt.title('Proportion of Data in Training and Test Sets')
plt.show()

### EDA?  Sort data at all?  Use a plot to find outliers? Histogram/Distribution of some sort?  Maybe binning of spatial dimensionality games or by narrative?  --Patricio

### Do we need to convert/standardize/normalize any of this data?   ---TORI

# C5.0 Model and then also a summary of it

# Logistic Regression and summary

In [ ]:
### I think we might need to do Linear regression since our target variable is numberic and not bianary. 
from sklearn.linear_model import LinearRegression

# Example data
X = 0 # Independent variable
y = 0 # Dependent variable

# Creating a Linear Regression model
model = LinearRegression()

# Fitting the model to the data
model.fit(X, y)

# Printing the coefficients (slope and intercept)
print("Slope:", model.coef_[0])
print("Intercept:", model.intercept_)

# Predicting values
new_X = np.array([[6], [7]])  # New data points
predictions = model.predict(new_X)
print("Predictions:", predictions)

In [ ]:
# Module 4 example
# Python


# Define the formula
formula = 'CC ~ Days + Web'

# Fit the logistic regression model
logreg = sm.Logit.from_formula(formula, data=training).fit()

# Print model summary
print(logreg.summary())

# CART Model and summary

In [ ]:
# Python
# EXAMPLE FROM MODULE 2/Will shape variables depending on final EDA


# Assuming you have the dataset loaded into a DataFrame called df
# If your data is in a CSV file, you can load it like this:
# df = pd.read_csv('your_dataset.csv')

# Encode categorical variables
label_encoder = LabelEncoder()
data['Marital status'] = label_encoder.fit_transform(data['Marital status'])

# Extracting features and target variable
X = data[['Marital status', 'Cap_Gains_Losses']]
y = data['Income']

# Initialize the Decision Tree classifier
clf = DecisionTreeClassifier()

# Train the classifier on the entire dataset
clf.fit(X, y)

# Visualize the decision tree
plt.figure(figsize=(20, 15))
plot_tree(clf, feature_names=['Marital status', 'Cap_Gains_Losses'], class_names=['<=50K', '>50K'], filled=True)
plt.show()

# K-Means and summary

In [ ]:
### From HW mod 6


df_wine_tr.describe()

X = df_wine_tr[['alcohol', 'sugar']]

Xz = pd.DataFrame(stats.zscore(X), columns=['alcohol', 'sugar'])

Xz.head()

### Needed to add n-init=10 to remove warning for future versions being switched to auto ###
kmeans01 = KMeans(n_clusters=2, n_init=10).fit(Xz)

cluster = kmeans01.labels_
Cluster1 = Xz.loc[cluster == 0]
Cluster2 = Xz.loc[cluster == 1]

Cluster1.describe()
Cluster2.describe()

### TESTING ###

X_test = df_wine_tst[['alcohol', 'sugar']]
Xz_test = pd.DataFrame(stats.zscore(X_test),
columns=['alcohol', 'sugar'])

kmeans_test = KMeans(n_clusters = 2, n_init=10).fit(Xz_test)
cluster_test = kmeans_test.labels_ 
Cluster1_test = Xz_test.loc[cluster_test == 0]
Cluster2_test = Xz_test.loc[cluster_test == 1]

Cluster1_test.describe()
Cluster2_test.describe()

# Naive Bayes and summary

In [62]:
### I don't think we can use Naive Bayes bc it is for categorical data unless 
# we change the metacritic score to A, B, C, D, or F. We could do random forest or i 
# can change the scores to categories. Let me know. -Tori ###

In [ ]:
# Answer in Python
# Super long example, will have to use AI help ?  Module 3


# Tried to follow page 121 as well as some help from AI
# Load training and test datasets
data1 = pd.read_csv('/Users/bobbymarriott/Desktop/Data Mining Class/framingham_nb_training.csv')
data2 = pd.read_csv('/Users/bobbymarriott/Desktop/Data Mining Class/framingham_nb_test.csv')

# 'Death', 'Sex', and 'Education' in the training dataset
t1 = pd.crosstab(data1['Death'], [data1['Sex'], data1['Educ']])
t1['Total'] = t1.sum(axis=1)
t1.loc['Total'] = t1.sum()

# indicator variables
X_Death_ind = np.array(data1['Death'])
(X_Death_ind, X_Death_ind_dict) = stattools.categorical(X_Death_ind, drop=True, dictnames=True)
X_Death_ind = pd.DataFrame(X_Death_ind)

# 'Sex' column to indicator variables
X_Sex_ind = np.array(data1['Sex'])
(X_Sex_ind, X_Sex_ind_dict) = stattools.categorical(X_Sex_ind, drop=True, dictnames=True)
X_Sex_ind = pd.DataFrame(X_Sex_ind)

# 'Education' column to indicator variables
X_Educ_ind = np.array(data1['Educ'])
(X_Educ_ind, X_Educ_ind_dict) = stattools.categorical(X_Educ_ind, drop=True, dictnames=True)
X_Educ_ind = pd.DataFrame(X_Educ_ind)

# Concatenate 
X = pd.concat((X_Death_ind, X_Sex_ind, X_Educ_ind), axis=1)

Y = data1['Death']

nb_01 = MultinomialNB().fit(X, Y)

# 'Death' column to indicator variables for test data
X_Death_ind_test = np.array(data2['Death'])
(X_Death_ind_test, X_Death_ind_dict_test) = stattools.categorical(X_Death_ind_test, drop=True, dictnames=True)
X_Death_ind_test = pd.DataFrame(X_Death_ind_test)

# Sex' column to indicator variables for test data
X_Sex_ind_test = np.array(data2['Sex'])
(X_Sex_ind_test, X_Sex_ind_dict_test) = stattools.categorical(X_Sex_ind_test, drop=True, dictnames=True)
X_Sex_ind_test = pd.DataFrame(X_Sex_ind_test)

# 'Education' column to indicator variables for test data
X_Educ_ind_test = np.array(data2['Educ'])
(X_Educ_ind_test, X_Educ_ind_dict_test) = stattools.categorical(X_Educ_ind_test, drop=True, dictnames=True)
X_Educ_ind_test = pd.DataFrame(X_Educ_ind_test)

# Concatenate 
X_test = pd.concat((X_Death_ind_test, X_Sex_ind_test, X_Educ_ind_test), axis=1)

# predictions on test data
Y_predicted = nb_01.predict(X_test)

ypred = pd.crosstab(data2['Death'], Y_predicted, rownames=['Actual'], colnames=['Predicted'])

# Calculate and add total column and row
ypred['Total'] = ypred.sum(axis=1)
ypred.loc['Total'] = ypred.sum()

# Display the cross-tabulation
print(ypred)

# ROC Curves? -maybe

## Model Evaluation Table